.btn-outline-primary {
    border-color: black;
    color: black;
}

.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: red; /*scegliere colori adatti*/
}

.btn-primary {
    background-color: white;
    border-color: black;
    color: black;
}

.btn-primary:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.bg-primary {
    background-color: #84ACCE !important;
}

.bg-secondary {
    background-color: #C5E3C1 !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

body > footer h2 {
    font-size: large;
}

.logo-img {
    width: 50px;
    height: auto;
}
